#titulo{
    text-align: center;
    font-family: Lora,serif;
    font-size: 60px;
    font-weight: 900;
}

#fotoperfil{
    display: block;
    width: 30%;
    border-radius: 50%;
    margin-left: 15%;
    padding: 10px;
    background-color: black;
}

h1:hover{
    color: red;
}

h3:hover{
    color:coral;
    font-size: 60px;
}

li:hover{
    border:1px solid salmon
}

a{
    text-decoration: none;
}

.infohabil{
    font-family: Lora,serif;
    background-color: blue;
    color: aliceblue;
    font-size: 40px;
}

body{
    background-color: #8888BA;
}

h3{
    font-size: 40px;
}

#perfil{
    font-weight: 900;
    text-align: center;
    font-size: 20px;
}

.descricao{
    position: absolute;
    margin-left: 54%;
    margin-top: 17%;
    max-width: 27%;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900; 
    padding: 5px;
    background-color: whitesmoke;
}

.habilidades li:nth-child(odd) {
    background-color: crimson;
}